@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font: 16px/1.5 "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #111;
}

#root {
  background-color: #eee;
}

img {
  display: block;
  width: 100%;
  height: auto;
}