.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em;
    background-color: #111; 
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2em;
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 3em;
    width: auto;
}

.logo-text {
    display: block;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    gap: 1.25em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding: 0.5em 1em;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #1E90FF;
}